
<div class="column" id="<%= dom_id(model) %>">
  <article class="card <%= card_classes %>">
    <%= render :label if has_label? %>
    <%= render :top if render_top? %>
    <%= render :image if has_image? %>
    <%= render :area_header if has_area_color? %>
    <%= render :archived_header if model.archived? %>
    <div class="card__content">
      <%= render :header %>

      <div class="card__text">
        <div class="card__text--paragraph">
          <%= render :badge if has_badge? %>
          <span <%= "id=#{translate_helper_for(element: :body, model: model)}" %>>
            <%= description %>
          </span>
        </div>
      </div>

      <% if translatable? %>
        <%= translate_button_helper_for(title: title, body: description, model: model) %>
      <% end %>

      <!-- TODO: Find a way to monkeypatch decidim/initiatives/initiatives/tags.html  -->
      <ul class="tags tags--initiative">
        <li><%= link_to translated_attribute(model.type.title), initiatives_path(filter: { type: [model.type.id] }) %></li>
      </ul>
    </div>

    <%= render :data %>
    <%= render :status %>
    <%= render :footer %>
  </article>
</div>
