<% if initiative.answered? && translated_attribute(initiative.answer).present? %>
  <br>
  <div class="row column">
    <div class="columns small-12 callout <%= state_badge_css_class(initiative) %> initiative-answer">
      <div class="row">
        <div class="columns small-12 <%= initiative.answer_date? ? "" : "medium-12" %>">
          <h5>
            <% if initiative.rejected? %>
              <%= t(".initiative_rejected_reason") %>
            <% else %>
              <%= t(initiative.state, scope: "decidim.initiatives.initiatives.result.answer_title") %>:
            <% end %>
          </h5>
        </div>
        <% if initiative.answer_date? %>
          <div class="columns small-12">
            <span><%= l(initiative.answer_date.to_date, format: :decidim_short) %></span>
          </div>
        <% end %>
      </div>
      <p>
        <% if initiative.answer_url.present? %>
          <a href="<%= initiative.answer_url %>" target="_blank">
            <%= decidim_sanitize translated_attribute initiative.answer %>
          </a>
        <% else %>
          <%= decidim_sanitize translated_attribute initiative.answer %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>

<% if initiative.rejected? && translated_attribute(initiative.answer).blank? %>
  <br>
  <div class="row column">
    <div class="callout <%= state_badge_css_class(initiative) %> initiative-answer">
      <h5><%= t(".initiative_rejected_reason") %></h5>
    </div>
  </div>
<% end %>